<!doctype html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ .title }}</title>
</head>

<body>
<h1>{{ .title }}</h1>

<h2>{{ .message }}</h2>

<h2>Download file</h2>
<form action="" method="post" enctype="multipart/form-data">
    <p>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
    </p>
    <p>
        <input type="submit" value="Download">
    </p>
</form>
</body>

</html>
